<ion-app>
  <ion-menu content-id="main-content">
    <ion-header>
        <ion-item button color="lightgreen" lines="full" class="userArea" routerLink="/profile">
          <ion-avatar slot="start">
            <img src="./assets/navigation/user.png">
          </ion-avatar>
          <ion-label class="userName">
            Juan Dela Cruz<br>
            <span>Edit Profile ></span>
          </ion-label>
        </ion-item>
        <ion-item button color="white" lines="full">
          <ion-icon slot="start" name="wallet" color="red"></ion-icon>
          <ion-label class="navTitle"> <img src="./assets/navigation/nutripay.png" class="nutripay"> </ion-label>
        </ion-item>
    </ion-header>

    <ion-content color="peach">
      <ion-list>
          <ion-item button color="peach" routerLink="/home">
            <ion-icon slot="start" name="home" color="black"></ion-icon>
            <ion-label class="navTitle"> Home </ion-label>
          </ion-item>
          <ion-item button color="peach" routerLink="/products">
            <ion-icon slot="start" name="fast-food" color="black"></ion-icon>
            <ion-label class="navTitle"> Products </ion-label>
          </ion-item>
          <ion-item button color="peach" routerLink="/contact">
            <ion-icon slot="start" name="call" color="black"></ion-icon>
            <ion-label class="navTitle"> Contact </ion-label>
          </ion-item>
          <ion-item button color="peach" lines="full" routerLink="/about">
            <ion-icon slot="start" name="business" color="black"></ion-icon>
            <ion-label class="navTitle"> About us </ion-label>
          </ion-item>
          <ion-item button color="peach" lines="none" routerLink="/index-home">
            <ion-label class="navTitleLogin"> Logout </ion-label>
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-page class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-buttons slot="end" routerLink="/cart">
          <ion-button>
            <ion-icon slot="icon-only" name="cart" color="black"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

      <div class="upperPart">
            <center>
            <div class="orderpic"><img src="./assets/place-order/order-place1.PNG">
            </div>
            <div class="caption">Your order is currently being processed. <br>
            You will received an order confirmation email<br>
            shortly with the expected delivery <br>
            date of your order.
            </div>
            <div class="breadpic"><img class="breadpic1" src="./assets/place-order/place-order.jpg">
            </div>
            <br>
              <div class="thankyou">Thank you for Purchasing!</div>
              <div class="logo2"><img src="./assets/place-order/nutribites-logo2.png" >
            </div>

          <ion-button class="btnBack" routerLink="/home"><p class="btnBack1">Back to Home</p></ion-button>
          </center>
      </div>
  </ion-page>
</ion-app>
<ion-menu-controller></ion-menu-controller>