ion-content, .navTitle{ 
  font-family: 'Poppins';
  color: #312e2d;
}

.pageTitle {
  font-family: 'Poppins';
  color: #312e2d;
}

.navTitleLogin {
  font-family: 'Poppins';
  color: #d46c4e;
}

ion-list {
  background: transparent;
}
  
    .upperPart {
      --ion-background-color: #e1eedd;
    }
    
    .lowerPart {
      background-color: #e1eedd;
      padding-bottom: 10px;
    }
    
    .productLabel {
      text-align: center;
      color: #47697e;
      font-size: 25px;
      font-weight: 600;
    }
    
    .contactBG {
      background-color: #e1eedd;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .contactLabel {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 17px;
      color: #6e9277;
    }
    
    .contactIcons { 
      color: #d46c4e; 
    }
    
    .contactBG1 {
     border-radius: 10px;
    }
    
    
    